<header id="banner">
    <h2><a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Title }}</a></h2>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight }}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{ end }}
            
        </ul>
    </nav>
    <nav>
        <ul>
            <!-- Language Switcher -->
            {{ range .Translations }}
                <li>
                    <a href="{{ .Page.RelPermalink }}">
                        {{ .Language.LanguageName }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
</header>
